
.settingsTab {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--bg-opt1-color);
  .settingsTabSideBar {
    width: 24%;
    height: 100%;
    background-color: var(--bg-cover-muted-color);
    > ul {
      list-style: none;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      > li {
        color: var(--muted-text-color);
        text-align: start;
        cursor: pointer;
        font-size: 22px;
        font-weight: 600;
        height: 30px;
        width:72%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // align-self: center;
        // justify-self: center;
        padding: 10px 20px 10px;
        border-radius: 10px;
        &:hover {
          background-color: var(--accent-hover-bg-color);
        }
        &.active {
          color: var(--text-color);
          background-color: var(--accent-bg-color);
          font-weight: 700;
        }
      }
    }
  }
  .settingsTabMain {
    width: 76%;
    height: 100%;
    // background-color: #121212;
    // animation: bg-settings 8s linear infinite;
    // >div{
    //   width: 100%;
    //   height: 100%;
    // }
  }
}
@keyframes bg-settings {
  from {
    background-color: rgba(226, 247, 255, 0.984);
  }
  to {
    background-color: rgba(135, 218, 243, 0.285);
  }
}
@media (max-width: 800px) {
  .settingsTab {
    .settingsTabSideBar {
      width: 250px;
    }
  }
}
