.bookInfo {
  width: calc(100% - 0px);
  height: calc(100% - 0px);

  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }
  > div {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5px;
    .metaData {
      width: 40%;
      > div {
        height: 100%;
        width: 100%;
        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      button {
        margin: 10px 0 0 0;
        width: 97%;
        height: 8%;
        border: none;
        border-radius: 10px;
        background-color: var(--bg-cover-color);
        color: var(--muted-text-color);
        &:hover {
          background-color: var(--accent-bg-color);
          color: var(--active-text-color);
          cursor: pointer;
        }
      }
      ul {
        list-style: none;
        margin: 10px 0 0 0;
        li {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          p:first-child {
            font-weight: 600;
          }
          p {
            width: 45%;
            text-align: start;
          }
        }
      }
    }
    .bookData {
      width: 60%;
      height: 100%;
      h3 {
        text-align: start;
        padding: 0 0 0 30px;
        font-size: 32px;
      }
      ul.bTags {
        margin: 5px 0 0 0;
        padding: 0 10px 0;
        width: calc(100% - 20px);
        display: flex;
        gap: 6px;
        overflow-x: auto;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--scrollbar-thumb-color);
        }
      }
      p#uniq {
        margin: 8px 0 0 0;
        text-align: start;
        padding: 0 0 0 6px;
        font-size: 18px;
        font-weight: 500;
      }
      p {
        margin: 4px 0 0 0;
        padding: 0 0 0 10px;
        text-align: justify;
        letter-spacing: 0.5px;
        word-spacing: 1px;
      }
      div.bookChapters {
        height: 100%;
        overflow: hidden;
        margin: 10px 0 0 0;
        padding: 0 10px 0;
        width: calc(100% - 20px);
        h4 {
          margin: 5px 0 0 0;
          text-align: start;
          font-size: 20px;
        }
        input#ChapterSearch {
          border: none;
          outline: none;
          margin: 8px 0 0;
          width: 100%;
          height: 28px;
          border-radius: 10px;
          padding: 0 40px 0 10px;
          color: var(--text-color);
          background-color: var(--bg-opt1-color);
        }
        ul.chapterInfo {
          width: calc(100% - 10px);
          height: 80%;
          overflow-y: auto;
          padding: 0 5px 0;
          margin: 8px 0 0;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-auto-rows: 30px; /* all rows 30px */
          list-style: none;

          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: var(--scrollbar-thumb-color);
          }

          li {
            /* remove width since grid controls column size */
            margin: 0; /* remove extra margin */
            padding: 4px; /* optional padding */
            overflow: hidden; /* cut off overflow */
            text-overflow: ellipsis;
            white-space: nowrap; /* keep text in single line */
            display: flex;
            align-items: center; /* vertical center */
            justify-content: center; /* horizontal center if you want */
          }
        }
      }
    }
  }
}
@media(max-width: 800px), (max-height: 600px){
    .bookInfo{
        >div{
            .metaData{
                >div{
                    height: 60%;
                }
            }
            .bookData{
                div.bookChapters{

                    >ul.chapterInfo{
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
        }
    }
}