$tab: white;
$tabName: white;
$navbar-bg: black;
$navbar-text: white;
$tabbar-bg: black;
$hover1: rgba(255, 255, 255, 0.276);
$hover2: rgba(255, 255, 255, 0.454);
$hover3: rgba(255, 255, 255, 0.674);
$hover4: rgba(255, 255, 255, 0.728);
$sidebar-bg: aquamarine;
$activeTab: linear-gradient(
  lightpink,
  aqua,
  aquamarine,
  rgb(203, 235, 255),
  turquoise,
  pink
);
