@use "@/styles/variables" as vars;
.tab {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-self: flex-end;
  justify-content: space-between;
  text-align: center;
  min-width: 1rem;
  width: 10rem;
  max-width: 10rem;
  // text-overflow: ellipsis;
  background-color: none;
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 0 0.5rem 0;

  cursor: pointer;
  height: 80%;

  .tabName {
    color: vars.$tabName;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: flex-start;
    width: 90%;
  }

  button {
    display: none;
    border: none;
    background-color: inherit;
    width: 14px;
    height: 14px;
    border-radius: 35px;
    cursor: pointer;
    color: white;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.276);
    button {
      display: block;
      background-color: rgba(255, 255, 255, 0);
      &:hover {
        background-color: rgba(255, 255, 255, 0.674);
      }
    }
  }
}
.activeTab {
  background: vars.$activeTab;
  background-size: 400% 400%;
  animation: tabGradientShift 8s linear infinite;
  /* border-bottom: 2px solid; */
  /* border-color: rgb(0, 0, 0); */
  &:hover{
    button {
      &:hover {
        display: inline;
        background-color: vars.$hover3;
      }
    }
  }
}
@media (max-width: 800px) {
  .tab {
    min-width: 100px;
    width: auto;
    max-width: 100px;
  }
}
@keyframes tabGradientShift {
  0% {
    background-position: 50% 50%;
  }
  12% {
    background-position: 80% 50%;
  }
  25% {
    background-position: 80% 30%;
  }
  50% {
    background-position: 80% 10%;
  }
  63% {
    background-position: 50% 10%;
  }
  75% {
    background-position: 10% 10%;
  }
  87% {
    background-position: 10% 50%;
  }

  100% {
    background-position: 10% 80%;
  }
}
