
.navbar{
    position: relative;
    height: 100%;
    width: 6%;
    max-width: 78px;
    background-color: transparent;
    flex-shrink: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    .menubar{
        display: flex;
        flex-direction: column;
        margin: 10px auto 0;
        gap: 10px;
        width: 100%;
        li{
           padding: 6px 9px;
            

            list-style: none;
            cursor: pointer;
            
            border-radius: 10px;
            transition: background-color 0.2s ease;
            &:hover{
                background-color: var(--hover2);
            }
            h3{
                color: var(--text-color);
                font-size: 15px;
            }
            .menubarIcons{
                color: var(--text-color);
                align-self: center;
                justify-self: center;
            }
        }
    }
    .menubarDown{
        margin: 0 0 10px;
        li{
            h3{
                color: var(--text-color);
            }
        }
    }
    // .hamburgerIcon{
    //     z-index: 2;
    //     color: aliceblue;
    //     position: absolute;
    //     top: 2px;
    //     left: 3px;
    //     cursor: pointer;
    //     border: none;
    //     padding: 2px;
    //     &:hover{
    //         background-color: rgba(255, 255, 255, 0.2);
    //         border-radius: 30%;
    //     }
    // }
    // .navbarSideBar{
    //     height: 800px;
    //     background-color: blueviolet;
    //     width: 30%;
    //     max-width: 30%;
    //     position: fixed;
    //     z-index: 1;
    //     transform: translateX(-100%);
    //     transition: transform 0.3s ease-in-out;
    //     /* display: none; */
    //     &.open{
    //         transform: translateX(0);
    //     }
    //     &.closed{
    //         transform: translateX(-100%);
    //     }
    //     .navbarSideBarList{
    //         margin: 8rem 6rem 8rem;
    //         display: flex;
    //         flex-direction: column;
    //         li{
    //             font-size: 2rem;
    //             font-weight: 600;
    //             border: none;
    //             height: 3rem;
    //             list-style: none;
    //             align-self: center;
    //             justify-self: center;
    //             width: 25vw;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             &:hover{
    //                 border-radius: 3rem;
    //                 background-color: rgba(255, 255, 255, 0.639);
    //                 cursor: pointer;
    //             }
    //         }
    //     }
    // }
}
@media (max-height: 600px) , (max-width: 800px){
    .navbar {
        width: 10%;
        // .menubar{
        //     li{
                
        //     }
        // }
    }
}