.book-card{
    &{
        height: 400px;
        width: 250px;
        cursor: pointer;
        img{
            height: 70%;
            width: 100%;
            object-fit: cover;
        }
        .info{
            &{
                .title{

                }
                .source{

                }
                .desc{

                }
            }
        }
    }
}