.bookSearch {
   width: calc(100% - 0px);
    height: calc(100% - 0px);
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }
  .discover-grid {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}
