.sourceSelectBox {
  position: relative;
  width: 80%;
  height: 80%;

  animation: bg 8s linear infinite;
  border-radius: 0.4rem;
  background-image: url(work1.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: -6px;
    border-radius: inherit;
    background: linear-gradient(90deg, cyan, violet, turquoise, aqua);
    background-size: 300% 300%;
    animation: borderGlow 8s linear infinite;
    z-index: -1;
    filter: blur(12px);
  }

  h2 {
    font-size: 5rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin: 4rem 0rem 2rem;
    font-family: ui-monospace;
  }

  .sources {
    padding: 20px 0 0;
    margin: 0;
    height: 20rem;
    width: 28rem;
    overflow-y: auto;
    align-content: stretch;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 3.6rem;
    font-family: "Times New Roman", Times, serif;
    overflow-y: auto;
    column-gap: 6px;
    > li {
      padding: 0 10px 0;
      &:has(input:checked) {
        .sources-label {
          color: rgb(75, 167, 243);
          font-weight: 900;
        }
        background: url(photo.jpg);
        // background-position: 55% 50%;
      }
      display: flex;
      width: 12rem;
      height: 2.5rem;
      list-style: none;
      gap: 1rem;
      justify-content: start;
      align-items: center;
      cursor: pointer;
      position: relative;
      border-radius: 6px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }

      > .sources-list {
        appearance: none;
        -webkit-appearance: none;
        width: 1rem;
        height: 1rem;
        border: 2px solid #ffffff;
        border-radius: 4px;
        background: transparent;
        display: grid;
        place-items: center;
        cursor: pointer;
        transition: all 0.5s ease, color 1s;

        &:hover {
          border-color: #ffffff;
        }

        &:checked {
          background-color: #4cafef; // highlight color
          border-color: #4cafef;

          &::after {
            content: "✔";
            font-size: 0.75rem;
            color: #ffffff;
          }
        }
      }
      > .sources-label {
        cursor: pointer;
        color: rgb(255, 255, 255);
        font-size: 17px;
        user-select: none;
      }
    }
  }

  #b {
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: azure;
    border-color: var(--box-shadow-color, aqua);
    border-radius: 0.4rem;
   
  
    left: 4rem;
  }

  #n {
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: azure;
    border-color: var(--box-shadow-color, aqua);
    border-radius: 0.4rem;
    
   
    right: 4rem;
  }

  button {
      bottom: 3rem;
    height: 2rem;
    width: 6rem;
    opacity: 0.4;
     transition: 0.3s transform ease-in-out, 0.3s box-shadow ease-in-out;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 0.2rem 0.1rem var(--box-shadow-color, aqua);
    }
  }
}
@media (max-width: 800px) {
  .sourceSelectBox {
    width: 70%;
    height: 70%;
    h2 {
      margin-bottom: 1.5rem;
      font-size: 4rem;
    }
    .sources {
     padding: 0; 
    
      height: 200px;
      width: 380px;
      grid-auto-rows: 2.5rem;
      column-gap: 16px;
      row-gap: 4px;
     >li{
      width: 10rem;
      height: 2rem;
     }
    }
    button {
      bottom: 2rem;
      height: 2rem;
      width: 4rem;
    }
  }
}
