@use "@/styles/variables" as vars;
.tabManager {
  display: flex;
  flex: 1;
  width: 94%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: transparent;

  .tabBar {
    max-width: 100%;
    background-color: var(--bg-opace-1-color);
    // opacity: 0.29;
    gap: 0.2rem;
    display: flex;
    height: 40px;
    .prevBtn,
    .nextBtn,
    .searchTabsBtn {
      font-size: 1rem;
      font-weight: 100;
      border: none;
      cursor: pointer;
      align-self: flex-end;
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--active-text-color, white);
      width: 2rem;
      height: 2rem;
      background-color: var(--tp);

      &:hover {
        background-color: var(--hover1);
      }
    }
    .searchTabsBtn {
      position: relative;
      align-self: center;
      background-color: var(--hover2);
      border-radius: 10px;
      height: 30px;
      width: 30px;
      &:hover {
        background-color: var(--hover4);
      }
      .searchTabs {
        position: absolute;
        width: 1100%;
        height: 1000%;
        // overflow-y: auto;
        max-height: 2030%;
        top: 116%;
        left: -234%;
        background-color:var(--bg-cover-color,#535353da);
        // border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 0 0 8px;
        z-index: 1000;
        &.open {
          display: block;
        }
        &.close {
          display: none;
        }
        .searchTab {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2px;
          height: 25%;
          #searchInput {
            &::placeholder {
              color: var(--text-color);
            }
            margin: 4px 0 0 0;
            width: 80%;
            height: 100%;
            background: var(--tp);
            border: none;
            outline: none;
          }
        }
        #sep {
          height: 0.5px;
          background: rgba(255, 255, 255, 0.2);
        }
        .inSearchTabs {
          overflow-y: auto;
          height: 76%;
          &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-track {
            background: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb-color);
            border-radius: 3px;
          }
          .openTabs,
          .recentTabs {
            position: relative;
             h3 {
              padding: 10px 10px 10px;
              position: sticky;
              top: 0.01px;
              text-align: left;
              margin: 0 0 14px;
              background-color:var(--light-bg-color,#4a4a4a);
            }
            
            background-color: transparent;
            > li {
              list-style: none;
              background: transparent;
              text-align: center;
            }
          }
        }
      }
    }
    .tabs {
      display: flex;
      //   gap: 0.4rem;
      padding-left: 0;
      padding: 0 25px 0 0;
      flex: 1;
      min-width: 0;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;

      //   scrollbar-width: thin;

      &::-webkit-scrollbar {
        height: 3px;
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color);
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(150, 150, 150, 0.7);
      }
    }
    .addTabBtn {
      font-size: 1rem;
      font-weight: 100;
      border: none;
      cursor: pointer;
      align-self: flex-end;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10rem;
      color: var(--active-text-color);
      width: 2rem;
      height: 2rem;
      background-color: var(--tp);

      &:hover {
        background-color: var(--hover1);
      }
    }
  }

  .tabContent {
    // flex: 1;
    height: calc(100% - 40px);
    width: 100%;
    background-color:var(--bg-cover-muted-opt1-color,#2e2e2e9b);
  }
}

