
*{
  margin: 0;
  padding: 0;
  
}
:root {
  // font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Great Vibes', cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --box-shadow-color: rgba(122, 220, 223, 0.89);
  --tp: rgba(0, 0, 0, 0);
  
}
#root{
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  background: var(--linear-bg);
  background-size: 600% 600%;
  animation: gradientShift 12s ease infinite;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
  
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

