.bookChapter {
  width: calc(100% - 0px);
  height: calc(100% - 0px);

  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0px;
  li {
    list-style: none;
    width: 60%;
    height: 100%;
    img {
      min-width: 100% !important;
      max-width: 100%;
      max-height: 100%;
      overflow-clip-margin: content-box;
      overflow: clip;
    }
  }
}
