@use "@/styles/variables" as vars;
.browserTab{
    height: 100%;
    width: 100%;
    display: flex;
    .browserTabSideBar{
        width: 24%;
        height: 100%;
        >ul{
            width: 100%;
            height: 100%;
            >li{
                list-style: none;
            }
        }
    }
    .browserTabMain{
        flex: 1;
        width: 76%;
        height: 100%;
        background-color: azure;
    }
}
@media (max-width: 800px){
    .browserTab{
        .browserTabSideBar{
            width: 250px;
        }
        .browserTabMain{
            flex: 1;
        }
    }
}